.THIS .table_label {
    font-size: 15px;
    font-weight: bold;
    width: 25%;
    display: inline-block;
    text-align: center;
}

.THIS .sub_header {
    font-size: 15px;
    font-weight: bold;
    color: #ff6215;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 4px;
}

.THIS.upcoming_service {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.THIS .table_header{
    border-bottom:1px solid #ccc;
    padding:10px;
}

.THIS .table_field {
    display: inline-block;
    width: 25%;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}