.THIS.wendt_team {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 3px;
}

.THIS .sub_header {
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.THIS .team_pic {
    display: inline-block;
}

.THIS .team_text {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-top: 2px;
}

.THIS .name {
    font-size: 15px;
    font-weight: bold;
}

.THIS .team_details {
    display: inline-block;
    width: 50%;
}