.THIS .relationship_value {
    font-size: 50px;
    font-weight:bold;
}

.THIS .relationship_heading {
    font-size: 14px;
    text-decoration: underline;
    margin-bottom: -12px;
}

.THIS .relationship {
    display: inline-block;
    width: 50%;
    padding: 15px;
    border: 1px solid #ccc;
}

.THIS .sub_header {
    font-weight: bold;
    font-size: 15px;
    color: #ff6215;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.THIS .relationship_icon {
    display: inline-block;
}

.THIS .relationship_details {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-top: 10px;
}