.THIS.news {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 10px;
    border-radius: 4px;
}

.THIS .news_image {
    display: inline-block;
    width:30%;
}

.THIS .news_details {
    display: inline-block;
    width:70%;
    vertical-align:top;
}

.THIS .news_name {
    font-size: 15px;
    font-weight: bold;
}

.THIS .news_other {
    font-size: 11px;
}

.THIS .news_description {
    margin-top: 10px;
}

.THIS .news_button {
    text-align: center;
    margin-top: 10px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}